body {
    position: relative;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background: rgb(37, 99, 235);
    width: 100%;
}
 .nav__ul{
     padding: 0;
     margin: 0;
     height: 100%;
     display: flex;
     align-items: center;
 }
.nav__li {
    margin-right: 1rem;
}
 .nav__a {
     padding: 1rem;
     font-size: 24px;
     
 }

.main{
    margin-top: 140px;
}
nav ul, footer ul {
    font-family:'Consolas', 'monaco', 'monospace';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
 footer ul li {
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.home__h1 {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #e4572e 0%,
    #531cb3 46%,
    #f3a712 100%
  );

  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
