<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav class="nav">
		<ul class="nav__ul">
			<li class="nav__li"><a href="/" class="nav__a">Home</a></li>
			<li class="nav__li"><a href="/about" class="nav__a">About</a></li>
			<li class="nav__li"><a href="/blog" class="nav__a">Blog</a></li>
		</ul>
	</nav>
			<div class="container">
			<div class="main">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:daniel.mm.frank@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
